<template>
  <div>
    <h1>CRUD User</h1>
    <div class="row mx-auto">
      <div class="col-md-6">
        <h3 class="float-start">Create User</h3>
        <br />
        <br />
        <h5 class="float-start">First Name</h5>
        <div class="input-group mb-1">
          <input
            :value="first_name"
            class="form-control"
            @input="(event) => (first_name = event.target.value)"
          />
        </div>
        <h5 class="float-start">Last Name</h5>
        <div class="input-group mb-1">
          <input
            :value="last_name"
            class="form-control"
            @input="(event) => (last_name = event.target.value)"
          />
        </div>
        <h5 class="float-start">Email</h5>
        <div class="input-group mb-1">
          <input
            :value="email"
            class="form-control"
            @input="(event) => (email = event.target.value)"
          />
        </div>
        <h5 class="float-start">ImageUrl</h5>
        <div class="input-group mb-2">
          <input
            :value="avatar"
            class="form-control"
            @input="(event) => (avatar = event.target.value)"
          />
        </div>

        <button
          @click="create_user"
          type="button"
          class="btn btn-primary float-start"
        >
          + Add
        </button>
      </div>
      <div class="col-md-6">
        <button
          @click="filter"
          type="button"
          class="btn btn-primary float-end mb-2"
        >
          Search
        </button>
        <div class="input-group mb-3">
          <input
            :value="search"
            class="form-control"
            placeholder="Find User"
            @input="(event) => (search = event.target.value)"
          />
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="table-dark">
              <tr>
                <th>
                  <button class="btn btn-dark" @click="toggle_first_name">
                    ↓↑</button
                  >First Name
                </th>
                <th>
                  <button class="btn btn-dark" @click="toggle_last_name">
                    ↓↑</button
                  >Last Name
                </th>
                <th>
                  <button class="btn btn-dark" @click="toggle_email">↓↑</button
                  >Email
                </th>
                <th>Image</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="user in users" :key="user.id">
                <td v-if="editable[user.id] != true">{{ user.first_name }}</td>
                <td v-if="editable[user.id] != true">{{ user.last_name }}</td>
                <td v-if="editable[user.id] != true">{{ user.email }}</td>
                <td v-if="editable[user.id] != true">
                  <img :src="user.avatar" width="150" height="150" />
                </td>
                <td v-if="editable[user.id] == true">
                  <input
                    :value="user.first_name"
                    class="form-control"
                    @input="
                      (event) => (edit_data.first_name = event.target.value)
                    "
                  />
                </td>
                <td v-if="editable[user.id] == true">
                  <input
                    :value="user.last_name"
                    class="form-control"
                    @input="
                      (event) => (edit_data.last_name = event.target.value)
                    "
                  />
                </td>
                <td v-if="editable[user.id] == true">
                  <input
                    :value="user.email"
                    class="form-control"
                    @input="(event) => (edit_data.email = event.target.value)"
                  />
                </td>
                <td v-if="editable[user.id] == true">
                  <input
                    :value="user.avatar"
                    class="form-control"
                    @input="(event) => (edit_data.avatar = event.target.value)"
                  />
                </td>
                <td>
                  <button
                    @click="edit_user(user.id)"
                    type="button"
                    class="btn btn-success float-start"
                  >
                    Edit
                  </button>

                  <button
                    @click="delete_user(user.id)"
                    type="button"
                    class="btn btn-danger"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HomeView",
  data() {
    return {
      text: "",
      first_name: "",
      last_name: "",
      email: "",
      avatar: "",
      editable: [],
      edit_data: [],
      users: [],
      is_toggle_first_name: false,
      is_toggle_last_name: false,
      is_toggle_email: false,
      search: "",
    };
  },

  methods: {
    toggle_first_name() {
      this.is_toggle_first_name
        ? this.users.sort((a, b) =>
            a.first_name > b.first_name
              ? 1
              : b.first_name > a.first_name
              ? -1
              : 0
          )
        : this.users.sort((a, b) =>
            b.first_name > a.first_name
              ? 1
              : a.first_name > b.first_name
              ? -1
              : 0
          );
      this.is_toggle_first_name = !this.is_toggle_first_name;
    },

    toggle_last_name() {
      this.is_toggle_last_name
        ? this.users.sort((a, b) =>
            a.last_name > b.last_name ? 1 : b.last_name > a.last_name ? -1 : 0
          )
        : this.users.sort((a, b) =>
            b.last_name > a.last_name ? 1 : a.last_name > b.last_name ? -1 : 0
          );
      this.is_toggle_last_name = !this.is_toggle_last_name;
    },

    toggle_email() {
      this.is_toggle_email
        ? this.users.sort((a, b) =>
            a.email > b.email ? 1 : b.email > a.email ? -1 : 0
          )
        : this.users.sort((a, b) =>
            b.email > a.email ? 1 : a.email > b.email ? -1 : 0
          );
      this.is_toggle_email = !this.is_toggle_email;
    },

    filter() {
      this.users = this.users.filter(
        (v) =>
          v.first_name.toLowerCase().includes(this.search.toLowerCase()) ||
          v.last_name.toLowerCase().includes(this.search.toLowerCase())
      );
      //I can't find way to not remove data after filter
    },

    create_user() {
      if (
        this.first_name == "" ||
        this.last_name == "" ||
        this.email == "" ||
        this.avatar == ""
      )
        return alert("Please fill all infomation");
      let data = {
        first_name: this.first_name,
        last_name: this.last_name,
        email: this.email,
        avatar: this.avatar,
      };
      this.users.push(data);
      this.first_name = "";
      this.last_name = "";
      this.email = "";
      this.avatar = "";
    },

    edit_user(itemID) {
      for (const key in this.editable) {
        if (this.editable[itemID] != true && this.editable[key] == true) {
          return alert("Editable one at a time");
        }
      }
      let i = this.users.map((item) => item.id).indexOf(itemID);
      this.edit_data = this.users[i];
      if (this.editable[itemID] == true) {
        this.users[i] = {
          id: itemID,
          first_name: this.edit_data.first_name,
          last_name: this.edit_data.last_name,
          email: this.edit_data.email,
          avatar: this.edit_data.avatar,
        };
      }
      this.editable[itemID] = !this.editable[itemID];
    },

    delete_user(itemID) {
      let i = this.users.map((item) => item.id).indexOf(itemID);
      this.users.splice(i, 1);
    },
  },

  async created() {
    const response = await fetch("https://reqres.in/api/users");
    const data = await response.json();
    this.users = data.data;
    this.users.push({
      id: 7,
      first_name: "Lunk",
      last_name: "Soutthichak",
      email: "aotto.0510@gmail.com",
      avatar:
        "https://scontent.fvte2-2.fna.fbcdn.net/v/t39.30808-6/278225092_4991872927569972_718669077086377884_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=174925&_nc_ohc=Xl6H7oapydIAX_BX2J6&_nc_ht=scontent.fvte2-2.fna&oh=00_AT9BCq44X4UNk1yvb_8TwahywAeUFuGLcKnHEMzjvZy9_w&oe=633D8541",
    });
  },
};
</script>
